*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

section.s1 {
	background-color:#FF6B6B;
	width: 50%;
	height:50%;
	position: absolute;
	bottom:0%;
	left:0%;
}

section.s2 {
	background-color: #7952B3;
	width: 50%;
	height: 40%;
	position: absolute;
	top:0%;
	left:0%;
}

sections.s3 {
	background-color: #00A389;
	width: 50%;
	height: 50%;
	position: absolute;
	top:0%;
	right:0%;
}

section.s4 {
	background-color:  #000000;
	width: 50%;
	height: 10%;
	position: absolute;
	top:0%;
	right:0%;
}
section.s4 {
	background-color: #008c47;
	width: 20%;
	height: 80%;
	position: absolute;
	bottom:0%;
	left:50%;
}

section.s6 {
	background-color: #f791c3;
	width: 20%;
	height: 60%;
	position: absolute;
	bottom:0%;
	right:0%;
}

@media screen and (max-width: 900px) {
  section.s1 {
    bottom: 0;
    right: 0;
    left:auto;
  }

  section.s2 {
    top: 0;
    right: 0;
    left:auto; 
  }

  section.s3 {
    top: 0;
    left: 0;
    right:auto;
  }

  section.s4 {
    top: 0%;
    right: 0;
    left: auto;
  }

  section.s5 {
    bottom: 0;
    right: 50%;
    left: auto;
  }

  section.s6 {
    bottom: 0;
    left: 0;
    right: auto;
  }
}